        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container{
            width: 100vw;
            height: 100vh;
            background: #7c76e8;
            background: linear-gradient(90deg, rgba(124, 118, 232, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card{
            width: 400px;
            height: 500px;
            background-color: white;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .card h2{
            margin-bottom: 8px;
        }
        .card img{
            width: 100%;
            height: 30%;
            border-radius: 20px 20px 0 0;
        }
        .textbox{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            text-align: center;
            margin-top: 10px;
        }
        button{
            width: 80%;
            height: 50px;
            background-color: #060243;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            margin-bottom: 10px;
            box-shadow:0px 10px 10px black ;
        }
        button:hover{
            background-color: #6a6ae0; ;
        }
        .Cancel{
            text-decoration: none;
            color: black;
            font-weight: bold;
            margin-top: 20px;
        }
        .Cancel:hover{
            color: red;
        }
        #amount{
            width: 80%;
            height: 50px;
            background-color: rgb(181, 189, 235);
            color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 5px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .leftbox{
            display: flex;
            justify-content: space-around;
            gap: 20px;
            align-items: center;
            text-align: center;
            margin-right: 60px;
            
        }
        .leftbox img{
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }
        a{
            color:#060243
        }
        a:hover{
            color: #6a6ae0;
        }